/*
 Theme Name:   Leoni Eye Clinic Child Theme
 Description:  Child Theme
 Author:       Comit Developers
 Template:     Divi
 Version:      1.0.0
 Text Domain:  divi-child
*/

/* Default Styles */
.alt-logo {
    margin-bottom: -6px;
    margin-left: 2px;
}

/* Add your css styles below this line */
.home .et_pb_text a {
    padding: 10px;
    background-color: #4AA1CF;
    color: #fff;
    border-radius: 3px;
}

.home .et_pb_text a:hover {
    background-color: #3DB4F4;
}

.et_pb_section {
    background-color: #f0f0f0;
}

.et_header_style_centered #logo {
    max-height: 100%;
    padding: 10px;
}

.et_pb_bg_layout_dark .et_pb_slide_description {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 2.3);
}

.gform_button {
    font-weight: 500;
    border-radius: 3px;
    padding: 6px 20px;
    line-height: 1.7em;
    background: transparent;
    border: 2px solid #37799d;
    color: #37799d;
}

.gform_button:hover {
    background-color: #fff;
}

.gform_confirmation_message {
    background-color: #37799d;
    border: 1px solid #fff;
    padding: 20px;
    color: #fff;
}

.home h1 {
    border-bottom: 2.5px solid rgba(181, 183, 187, 0.3);
}

h1 {
    border-bottom: 0;
}

.contact-info strong {
    color: #37799D;
}

@media only screen and ( max-width: 980px) {
    .home-link a {
        display: block;
    }

    .contact-info p {
        text-align: center;
        margin: 10px;
    }

    #page-container {
        padding-top: 0px;
    }
}